.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}

.input-container input {
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-radius: 10px;
  outline: none;
}

.input-container p {
  font-size: small;
  word-break: break-all;
  color: red;
}

